<div class="row justify-content-center">
  <h4>Reactive Form</h4>
  <div class="col-4">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          required
        />
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <button
        type="submit"
        [disabled]="!registerForm.valid"
        class="btn btn-primary"
      >
        Register
      </button>
    </form>

    <div class="mt-5">
      <h6>just for reference</h6>
      {{ registerForm.value | json }}
    </div>
  </div>
</div>
